@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .single-post {
        .single-post__title {
            font-size: 32px;
        }
        .post-tags-inner {
            margin: 0 0 15px;
            display: block;
        }
        .single-post__component {
            flex-wrap: wrap;
        }
        .single-post__nav {
            .single-post__nav--title {
                font-size: 20px;
            }
        }
        .related-post  {
            .related-post__list {
                flex-wrap: wrap;
                .related-post__item {
                    margin: 0 0 15px;
                    padding: 0 10px;
                    width: 100%;
                }
            }
        }
        .post-author {
            margin: 20px auto;
            flex-wrap: wrap;
            figure {
                margin: 0 auto 15px;
                a img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            .post-author__info {
                padding: 0;
                .post-author__name {
                    text-align: center;
                }
            }
        }
        .single-comment {
            .commentlist {
                > li {
                    .comment-details {
                        padding: 0;
                        .reply {
                            position: relative;
                            top: 0;
                            right: 0;
                            border-left: none;
                            padding: 0;
                        }
                    }
                    .children {
                        margin: 20px 0 0;
                        padding: 15px 0 15px 15px;
                        border-left: 1px solid;
                    }
                }
            }
        }
    }
    .editor-content {
        &.editor-content__col-two {
            columns: 1;
            -webkit-columns: 1;
            -moz-column-count: 1;
            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;
            text-align: justify;
        }
    }
}

@media (max-width:576px) {

}